<<<<<<< Updated upstream
/* body {
=======
.main-food-container {
>>>>>>> Stashed changes
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
} */

.container {
<<<<<<< Updated upstream
  width: 320px; /* 너비를 320px로 줄임 */
=======
  width: 100%; /* Increased width to match the image */
>>>>>>> Stashed changes
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.headermf {
  display: flex;
<<<<<<< Updated upstream
=======
  justify-content: space-between; /* Changed to space-between for proper alignment */
>>>>>>> Stashed changes
  align-items: center;
  padding: 15px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
}

<<<<<<< Updated upstream
=======
.headermf h1 {
  color: black;
  margin: 0;
  font-size: 20px; /* Adjusted font size */
  font-weight: bold;
}

>>>>>>> Stashed changes
.back-button {
  background: none;
  border: none;
  font-size: 24px;
<<<<<<< Updated upstream
  margin-right: 10px;
=======
>>>>>>> Stashed changes
  cursor: pointer;
}

.mypage-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px; /* Adjusted font size */
  width: 30%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< Updated upstream
  padding: 15px; /* 패딩을 줄임 */
  width: 300px;
}

.selected-date {
  margin-top: 4px;
  font-size: 16px; /* 폰트 크기를 줄임 */
  font-weight: bold;
}

.meal-list {
  padding: 8px; /* 패딩을 줄임 */
=======
  padding: 15px;
  width: 100%;
  font-size: 13px;
  
}

.selected-date {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.meal-list {
  padding: 15px;
>>>>>>> Stashed changes
}

.meal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
<<<<<<< Updated upstream
  padding: 5px 0; /* 패딩을 줄임 */
=======
  padding: 10px 0;
>>>>>>> Stashed changes
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.meal-time {
<<<<<<< Updated upstream
  font-size: 16px; /* 폰트 크기를 줄임 */
}

.meal-status {
  font-size: 14px; /* 폰트 크기를 줄임 */
  padding: 2px 4px; /* 패딩을 줄임 */
  border-radius: 4px;
=======
  font-size: 16px; /* Adjusted font size */
  color: #333;
}

.meal-status {
  font-size: 14px; /* Adjusted font size */
  padding: 2px 6px;
  border-radius: 12px; /* Adjusted border radius */
>>>>>>> Stashed changes
}

.incomplete {
  background-color: #ffcccc;
  color: #cc0000;
}

.complete {
  background-color: #ccffcc;
  color: #006600;
}
