.alarmLayout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.alarmLayout > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.moreBtn {
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
