.onboarding-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  align-self: flex-start;
  height: 100%;
}

.onboarding-layout .title {
  display: grid;
  row-gap: 11px;
  padding-top: 50px;
}

.onboarding-layout > .bottoms {
  align-self: center;
}
